/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2em;
    background-color: #f6f1d1;
}

/* Header Styles */
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.header h1 {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    color: #0f0e0e;
}
.header h4, .header h5 {
    margin: 0;
}

/* Social Media Styles */
.social-media-list a {
    margin: 0 10px;
}
.social-media-list img {
    width: 30px;
    height: 30px;
}

/* Products Column Styles */
.products {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product {
    width: 100%;
    max-width: 300px;
    padding: 1em;
    box-shadow: 0 0 10px rgba(12, 10, 10, 0.1);
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    background-color: #eef5f7;
}
.product img {
    max-width: 100%;
    height: auto;
}
.product h5 {
    margin-top: 10px;
    font-size: 16px;
}
.price {
    font-weight: bold;
    color: rgb(248, 6, 6);
    background-color: #f7f3f3;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 10px;
}
.buy-btn {
    display: block;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
